[submodule "workspace/src/usb_cam"]
	path = workspace/src/usb_cam
	url = https://github.com/ros-drivers/usb_cam.git
[submodule "workspace/src/rosbridge_suite"]
	path = workspace/src/rosbridge_suite
	url = https://github.com/RobotWebTools/rosbridge_suite.git
[submodule "workspace/src/yolov5_ros2/yolov5"]
	path = workspace/src/yolov5_ros2/yolov5
	url = https://github.com/ultralytics/yolov5.git
[submodule "workspace/src/velodyne"]
	path = workspace/src/velodyne
	url = https://github.com/ros-drivers/velodyne.git
[submodule "workspace/src/lidarslam_ros2"]
	path = workspace/src/lidarslam_ros2
	url = https://github.com/zzhou292/lidarslam_ros2.git
[submodule "workspace/chrono_ros_interfaces"]
	path = workspace/chrono_ros_interfaces
	url = https://github.com/projectchrono/chrono_ros_interfaces.git
[submodule "workspace/src/chrono_ros_interfaces"]
	path = workspace/src/chrono_ros_interfaces
	url = https://github.com/projectchrono/chrono_ros_interfaces.git
